[submodule "Sources/OpenXcom"]
	path = Sources/OpenXcom
	url = https://github.com/themaster567/BOXCE-on-MacOS
	branch = ios
[submodule "Sources/SDL_gfx"]
	path = Sources/SDL_gfx
	url = https://github.com/sfalexrog/SDL_gfx
[submodule "Sources/SDL"]
	path = Sources/SDL
	url = https://github.com/spurious/SDL-mirror
